@import "tailwindcss";
@import "./styles/theme.css";

@layer base {
  body {
    min-height: 100vh;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    font-family: var(--font-family);
  }
}
